{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


    <style>
        body,html{
			height: 100%;
			margin: 0;
			background: #7F7FD5;
	        background: -webkit-linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
	        background: linear-gradient(to right, #91EAE4, #86A8E7, #7F7FD5);
		}

        #events_card{
            padding-bottom: 40px;
        }
    </style>



    <div class="row" id="events_card">
    {% for private_message in private_messages %}
  <div class="col-md-4">
    <div class="card text-white bg-dark mb-3">
      <div class="card-body">
        <h5 class="card-title">{{ private_message.name }}</h5>
{#        <p class="card-text">{{ event.desc }}</p>#}
          {%  if private_message.is_open %}
              <span class="badge badge-success">Open</span>
          {% else %}
              <span class="badge badge-danger">Closed</span>
          {% endif %}
      <br /><br />
         <a href="{% url 'private_chat_details' pk=private_message.pk %}" class="btn btn-primary">Enter</a>
         <a href="{% url 'private_chat_edit' pk=private_message.pk %}" class="btn btn-warning">Edit</a>
          {% if user.is_superuser %}
              <a href="{% url 'private_chat_delete' pk=private_message.pk %}" class="btn btn-danger">Delete</a>
          {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>



{% endblock %}