{% extends "base.html" %}

{% block title %} Contact  {% endblock %}
{% block content %}
    <body>

<label for="fname">Your Name</label>
    <input type="text" id="name" name="name" placeholder="Your name..">

    <label for="email">Email</label>
    <input type="text" id="email" name="email" placeholder="Your email..">

    <label for="subject">Subject</label>
    <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

    <input type="submit" value="Submit">

</body>


{% endblock %}